body {
      margin: 0;
      font-family: Arial, sans-serif;  /* Normal font */
      background: linear-gradient(to right, hsla(17, 87%, 49%, 1.00), hsla(207, 90%, 51%, 1.00));
      color: #ffffff;
    }

    /* ===== Header & Navbar ===== */
  header{
    position:sticky;top:0;z-index:1000;
    background:rgba(236, 3, 3, 1);
    backdrop-filter:blur(10px);
    padding:20px 10px;text-align:center;
  }
  header h1{
    font-size:2.8rem;
    background: linear-gradient(to right,#ffd700,#fff);;
    -webkit-text-fill-color:transparent;
    animation: glow 2s infinite alternate;
  }
  @keyframes glow{
    0%{text-shadow:0 0 10px #ffd700,0 0 20px #fff;}
    100%{text-shadow:0 0 20px #fff,0 0 30px #ffd700;}
  }
  nav{
    display:flex;justify-content:center;flex-wrap:wrap;margin-top:10px;gap:12px;
  }
  nav a{
    text-decoration:none;color:#fff;font-weight:600;padding:8px 15px;border-radius:8px;
    background:rgba(255,255,255,0.1);
    transition:all 0.3s ease;
  }
  nav a:hover{
    background:#ffd700;color:#000;transform:scale(1.1);
  }
    .about-container {
      padding: 40px;
      max-width: 1000px;
      margin: auto;
      text-align: justify;
      line-height: 1.8;
    }

    .about-container h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #00ffcc;
    }

    .about-container p {
      font-size: 1.1rem;
      color: #ddd;
    }

    .highlight {
      color: #00ffcc;
      font-weight: bold;
    }

    .team-image {
      width: 100%;
      margin: 30px 0;
      border-radius: 12px;
      box-shadow: 0 0 25px hsla(168, 78%, 42%, 0.93);
    }

    footer {
      text-align: center;
      padding: 20px;
      color: #999;
      font-size: 0.9rem;
      border-top: 1px solid #333;
      margin-top: 40px;
    }

    @media (max-width: 768px) {
      header h1 {
        font-size: 2rem;
      }
      nav {
        flex-direction: column;
        gap: 10px;
      }
      .about-container {
        padding: 20px;
      }
    }
        